openapi: 3.0.0
info:
  title: Gmail API
  description: "The Gmail API lets you view and manage Gmail mailbox data like threads,\
    \ messages, and labels."
  termsOfService: https://developers.google.com/terms/
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://gmail.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: gmail
externalDocs:
  url: https://developers.google.com/gmail/api/
servers:
- url: https://gmail.googleapis.com/gmail/v1
tags:
- name: users
paths:
  /users/{userId}/drafts:
    get:
      tags:
      - users
      description: Lists the drafts in the user's mailbox.
      operationId: gmail.users.drafts.list
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: includeSpamTrash
        in: query
        description: Include drafts from `SPAM` and `TRASH` in the results
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: maxResults
        in: query
        description: Maximum number of drafts to return. This field defaults to 100.
          The maximum allowed value for this field is 500
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: pageToken
        in: query
        description: Page token to retrieve a specific page of results in the list
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: q
        in: query
        description: "Only return draft messages matching the specified query. Supports\
          \ the same query format as the Gmail search box. For example, `\"from:someuser@example.com\
          \ rfc822msgid: is:unread\"`"
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDraftsResponse'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.readonly
    post:
      tags:
      - users
      description: Creates a new draft with the `DRAFT` label.
      operationId: gmail.users.drafts.create
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The draft to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Draft'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.addons.current.action.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.addons.current.action.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
  /users/{userId}/drafts/send:
    post:
      tags:
      - users
      description: "Sends the specified, existing draft to the recipients in the `To`,\
        \ `Cc`, and `Bcc` headers."
      operationId: gmail.users.drafts.send
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The ID of the existing draft to send. (Optional) Updated draft
          if necessary
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Draft'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.addons.current.action.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.addons.current.action.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
  /users/{userId}/drafts/{id}:
    get:
      tags:
      - users
      description: Gets the specified draft.
      operationId: gmail.users.drafts.get
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the draft to retrieve
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: format
        in: query
        description: The format to return the draft in
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - minimal
          - full
          - raw
          - metadata
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.readonly
    put:
      tags:
      - users
      description: Replaces a draft's content.
      operationId: gmail.users.drafts.update
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the draft to update
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The updated draft to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Draft'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.addons.current.action.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.addons.current.action.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
    delete:
      tags:
      - users
      description: Immediately and permanently deletes the specified draft. Does not
        simply trash it.
      operationId: gmail.users.drafts.delete
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the draft to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.addons.current.action.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.addons.current.action.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
  /users/{userId}/history:
    get:
      tags:
      - users
      description: Lists the history of all changes to the given mailbox. History
        results are returned in chronological order (increasing `historyId`).
      operationId: gmail.users.history.list
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: historyTypes
        in: query
        description: History types to be returned by the function
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - messageAdded
            - messageDeleted
            - labelAdded
            - labelRemoved
      - name: labelId
        in: query
        description: Only return messages with a label matching the ID
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: maxResults
        in: query
        description: Maximum number of history records to return. This field defaults
          to 100. The maximum allowed value for this field is 500
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: pageToken
        in: query
        description: Page token to retrieve a specific page of results in the list
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: startHistoryId
        in: query
        description: "Required. Returns history records after the specified `startHistoryId`.\
          \ The supplied `startHistoryId` should be obtained from the `historyId`\
          \ of a message, thread, or previous `list` response. History IDs increase\
          \ chronologically but are not contiguous with random gaps in between valid\
          \ IDs. Supplying an invalid or out of date `startHistoryId` typically returns\
          \ an `HTTP 404` error code. A `historyId` is typically valid for at least\
          \ a week, but in some rare circumstances may be valid for only a few hours.\
          \ If you receive an `HTTP 404` error response, your application should perform\
          \ a full sync. If you receive no `nextPageToken` in the response, there\
          \ are no updates to retrieve and you can store the returned `historyId`\
          \ for a future request"
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHistoryResponse'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.readonly
  /users/{userId}/labels:
    get:
      tags:
      - users
      description: Lists all labels in the user's mailbox.
      operationId: gmail.users.labels.list
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLabelsResponse'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.labels
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.labels
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.readonly
    post:
      tags:
      - users
      description: Creates a new label.
      operationId: gmail.users.labels.create
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The label to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Label'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.labels
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.labels
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
  /users/{userId}/labels/{id}:
    get:
      tags:
      - users
      description: Gets the specified label.
      operationId: gmail.users.labels.get
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the label to retrieve
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.labels
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.labels
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.readonly
    put:
      tags:
      - users
      description: Updates the specified label.
      operationId: gmail.users.labels.update
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the label to update
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The updated label to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Label'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.labels
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.labels
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
    delete:
      tags:
      - users
      description: Immediately and permanently deletes the specified label and removes
        it from any messages and threads that it is applied to.
      operationId: gmail.users.labels.delete
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the label to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.labels
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.labels
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
    patch:
      tags:
      - users
      description: Patch the specified label.
      operationId: gmail.users.labels.patch
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the label to update
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The updated label to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Label'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.labels
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.labels
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
  /users/{userId}/messages:
    get:
      tags:
      - users
      description: Lists the messages in the user's mailbox.
      operationId: gmail.users.messages.list
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: includeSpamTrash
        in: query
        description: Include messages from `SPAM` and `TRASH` in the results
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: labelIds
        in: query
        description: "Only return messages with labels that match all of the specified\
          \ label IDs. Messages in a thread might have labels that other messages\
          \ in the same thread don't have. To learn more, see [Manage labels on messages\
          \ and threads](https://developers.google.com/gmail/api/guides/labels#manage_labels_on_messages_threads)"
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: maxResults
        in: query
        description: Maximum number of messages to return. This field defaults to
          100. The maximum allowed value for this field is 500
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: pageToken
        in: query
        description: Page token to retrieve a specific page of results in the list
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: q
        in: query
        description: "Only return messages matching the specified query. Supports\
          \ the same query format as the Gmail search box. For example, `\"from:someuser@example.com\
          \ rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the\
          \ api using the gmail.metadata scope"
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessagesResponse'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.readonly
    post:
      tags:
      - users
      description: "Directly inserts a message into only this user's mailbox similar\
        \ to `IMAP APPEND`, bypassing most scanning and classification. Does not send\
        \ a message."
      operationId: gmail.users.messages.insert
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: deleted
        in: query
        description: Mark the email as permanently deleted (not TRASH) and only visible
          in Google Vault to a Vault administrator. Only used for Google Workspace
          accounts
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: internalDateSource
        in: query
        description: Source for Gmail's internal date of the message
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - receivedTime
          - dateHeader
      requestBody:
        description: The message to be inserted
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.insert
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.insert
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
  /users/{userId}/messages/batchDelete:
    post:
      tags:
      - users
      description: Deletes many messages by message ID. Provides no guarantees that
        messages were not already deleted or even existed at all.
      operationId: gmail.users.messages.batchDelete
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The IDs of the messages to delete
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchDeleteMessagesRequest'
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
  /users/{userId}/messages/batchModify:
    post:
      tags:
      - users
      description: Modifies the labels on the specified messages.
      operationId: gmail.users.messages.batchModify
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: A list of labels to add/remove in messages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchModifyMessagesRequest'
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
  /users/{userId}/messages/import:
    post:
      tags:
      - users
      description: "Imports a message into only this user's mailbox, with standard\
        \ email delivery scanning and classification similar to receiving via SMTP.\
        \ This method doesn't perform SPF checks, so it might not work for some spam\
        \ messages, such as those attempting to perform domain spoofing. This method\
        \ does not send a message."
      operationId: gmail.users.messages.import
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: deleted
        in: query
        description: Mark the email as permanently deleted (not TRASH) and only visible
          in Google Vault to a Vault administrator. Only used for Google Workspace
          accounts
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: internalDateSource
        in: query
        description: Source for Gmail's internal date of the message
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - receivedTime
          - dateHeader
      - name: neverMarkSpam
        in: query
        description: Ignore the Gmail spam classifier decision and never mark this
          email as SPAM in the mailbox
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: processForCalendar
        in: query
        description: Process calendar invites in the email and add any extracted meetings
          to the Google Calendar for this user
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        description: The message to be imported
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.insert
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.insert
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
  /users/{userId}/messages/send:
    post:
      tags:
      - users
      description: "Sends the specified message to the recipients in the `To`, `Cc`,\
        \ and `Bcc` headers. For example usage, see [Sending email](https://developers.google.com/gmail/api/guides/sending)."
      operationId: gmail.users.messages.send
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The message to be sent
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.addons.current.action.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.addons.current.action.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.compose
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.compose
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.send
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.send
  /users/{userId}/messages/{id}:
    get:
      tags:
      - users
      description: Gets the specified message.
      operationId: gmail.users.messages.get
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the message to retrieve. This ID is usually retrieved
          using `messages.list`. The ID is also contained in the result when a message
          is inserted (`messages.insert`) or imported (`messages.import`)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: format
        in: query
        description: The format to return the message in
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - minimal
          - full
          - raw
          - metadata
      - name: metadataHeaders
        in: query
        description: "When given and format is `METADATA`, only include headers specified"
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.addons.current.message.action
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.addons.current.message.action
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.addons.current.message.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.addons.current.message.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.addons.current.message.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.addons.current.message.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.metadata
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.metadata
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.readonly
    delete:
      tags:
      - users
      description: Immediately and permanently deletes the specified message. This
        operation cannot be undone. Prefer `messages.trash` instead.
      operationId: gmail.users.messages.delete
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the message to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
  /users/{userId}/messages/{id}/modify:
    post:
      tags:
      - users
      description: Modifies the labels on the specified message.
      operationId: gmail.users.messages.modify
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
        in: query
        description: Data format for response
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Alt'
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: oauthToken
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: quotaUser
        in: query
        description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: "Upload protocol for media (e.g. \"raw\", \"multipart\")"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: uploadProtocol
      - name: uploadType
        in: query
        description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: userId
        in: path
        description: The user's email address. The special value `me` can be used
          to indicate the authenticated user
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the message to modify
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: A list of labels to add/remove on the message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyMessageRequest'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
      security:
      - Oauth2:
        - https://mail.google.com/
        Oauth2c:
        - https://mail.google.com/
      - Oauth2:
        - https://www.googleapis.com/auth/gmail.modify
        Oauth2c:
        - https://www.googleapis.com/auth/gmail.modify
  /users/{userId}/messages/{id}/trash:
    post:
      tags:
      - users
      description: Moves the specified message to the trash.
      operationId: gmail.users.messages.trash
      parameters:
      - name: $.xgafv
        in: query
        description: V1 error format
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Xgafv'
        x-ballerina-name: xgafv
      - name: access_token
        in: query
        description: OAuth access token
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: accessToken
      - name: alt
[...]
