name: Daily build

# Controls when the action will run.
on: 
  schedule:
    - cron: '30 2 * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "build"
    build:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            - uses: actions/checkout@v2

            # Set up Java Environment
            - name: Set up JDK 11
              uses: actions/setup-java@v1
              with:
                java-version: 11

            # Grant execute permission to the gradlew script
            - name: Grant execute permission for gradlew
              run: chmod +x gradlew

            # Build the project with Gradle
            - name: Build with Gradle
              env:
                packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
                packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
                JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true
              run: |
                ./gradlew build

            # Build the ballerina project
            - name: Ballerina Build
              uses: ballerina-platform/ballerina-action/@nightly
              with:
                  args:
                      pack 
              env:
                WORKING_DIR: ./gmail
                JAVA_HOME: /usr/lib/jvm/default-jvm

            # Test the ballerina project
            - name: Ballerina Test
              uses: ballerina-platform/ballerina-action/@nightly
              with:
                  args:
                      test
              env:        
                WORKING_DIR: ./gmail
                JAVA_HOME: /usr/lib/jvm/default-jvm
                JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true
                CLIENT_ID: ${{ secrets.CLIENT_ID }} 
                CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }} 
                REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
                REFRESH_URL: ${{ secrets.REFRESH_URL }}
                RECIPIENT: ${{ secrets.RECIPIENT }}
                SENDER: ${{ secrets.SENDER }}
                CC: ${{ secrets.CC }}
                ATTACHMENT_PATH: ${{ secrets.ATTACHMENT_PATH }}
                ATTACHMENT_CONTENT_TYPE: ${{ secrets.ATTACHMENT_CONTENT_TYPE }}
                INLINE_IMAGE_PATH: ${{ secrets.INLINE_IMAGE_PATH }}
                INLINE_IMAGE_NAME: ${{ secrets.INLINE_IMAGE_NAME }}
                IMAGE_CONTENT_TYPE: ${{ secrets.IMAGE_CONTENT_TYPE }}

            # Send notification when build fails
            - name: Notify failure
              if: ${{ failure() }}
              run: |
                curl -X POST \
                'https://api.github.com/repos/ballerina-platform/ballerina-release/dispatches' \
                -H 'Accept: application/vnd.github.v3+json' \
                -H 'Authorization: Bearer ${{ secrets.BALLERINA_BOT_TOKEN }}' \
                --data "{
                  \"event_type\": \"notify-build-failure\",
                  \"client_payload\": {
                    \"repoName\": \"module-ballerinax-googleapis.gmail\"
                  }
                }"
