name: Deployment

on:
    release:
        types: [published]

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Set up JDK 11
              uses: actions/setup-java@v1
              with:
                  java-version: 11
            - name: Grant execute permission for gradlew
              run: chmod +x gradlew
            - name: Build with Gradle
              env:
                  packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
                  packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
                  JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true
              run: |
                  ./gradlew build            
            - name: Ballerina Build
              uses: ballerina-platform/ballerina-action/@master
              with:
                  args:
                      build -c
              env:
                  WORKING_DIR: ./gmail
                  JAVA_HOME: /usr/lib/jvm/default-jvm
                  JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true
                  CLIENT_ID: ${{ secrets.CLIENT_ID }} 
                  CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }} 
                  REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
                  REFRESH_URL: ${{ secrets.REFRESH_URL }}
                  RECIPIENT: ${{ secrets.RECIPIENT }}
                  SENDER: ${{ secrets.SENDER }}
                  CC: ${{ secrets.CC }}
                  ATTACHMENT_PATH: ${{ secrets.ATTACHMENT_PATH }}
                  ATTACHMENT_CONTENT_TYPE: ${{ secrets.ATTACHMENT_CONTENT_TYPE }}
                  INLINE_IMAGE_PATH: ${{ secrets.INLINE_IMAGE_PATH }}
                  INLINE_IMAGE_NAME: ${{ secrets.INLINE_IMAGE_NAME }}
                  IMAGE_CONTENT_TYPE: ${{ secrets.IMAGE_CONTENT_TYPE }}     
            - name: Ballerina Push
              uses: ballerina-platform/ballerina-action/@master
              with:
                  args:
                      push 
              env:
                  WORKING_DIR: ./gmail
                  JAVA_HOME: /usr/lib/jvm/default-jvm
                  JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true
                  BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BALLERINA_CENTRAL_ACCESS_TOKEN }}
